[user]
	name = Satyajit Sahoo
	email = satyajit.happy@gmail.com
	signingkey = 31DAAC48ACF28F61
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[status]
	showStash = true
	submoduleSummary = true
[pull]
	default = current
	rebase = true
[push]
	default = current
	autoSetupRemote = true
	followTags = true
	recurseSubmodules = on-demand
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[branch]
	sort = -committerdate
[submodule]
	recurse = true
[delta]
	navigate = true
	hyperlinks = true
  width = variable
	blame-palette = "#303246" "#3a4461"
	dark = true
	syntax-theme = base16
  line-numbers = true
  line-numbers-left-style = brightblack
  line-numbers-right-style = brightblack
	line-numbers-minus-style = "#9e5660"
	line-numbers-plus-style = "#83976e"
  line-numbers-zero-style = brightblack
	file-style = bright-yellow
	file-modified-label = " 󰷈"
	file-added-label = " 󰝒"
	file-deleted-label = " 󱀷"
	file-renamed-label = " 󰪹"
	file-copied-label = " 󰪸"
  file-decoration-style = brightblack ul ol
	hunk-header-style = line-number
  hunk-header-decoration-style = brightblack box
	minus-style = syntax "#3d3444"
	minus-non-emph-style = syntax "#3d3444"
	minus-emph-style = syntax "#5a3e4c"
	plus-style = syntax "#383d46"
	plus-non-emph-style = syntax "#383d46"
	plus-emph-style = syntax "#4e5752"
[interactive]
  diffFilter = delta --color-only
[diff]
	renames = copies
	compactionHeuristic = true
	colorMoved = default
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
[help]
	autocorrect = 30

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	pr = "!f() { git fetch -fu ${2:-$(git remote | grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	track = "!git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)"
	cleanup = !git switch $(git remote show origin | sed -n '/HEAD branch/s/.*: //p') && git pull --prune && git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -D

[include]
	path = ~/.gitconfig_local
