configuration {
  modes: [window,drun,filebrowser];
  display-window: "";
  display-drun: "";
  display-filebrowser: "";
  show-icons: true;
  font: "Fira Code Nerd Font 11";

  timeout {
    action: "kb-cancel";
    delay:  0;
  }

  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "palenight"
