@import "config"

textbox {
  vertical-align: 0.5;
  horizontal-align: 0.5;
}

listview {
  columns: 12;
  lines: 9;
  cycle: true;
  dynamic: true;
  layout: vertical;
  flow: horizontal;
  reverse: false;
  fixed-height: true;
  fixed-columns: true;
}

element {
  orientation: vertical;
  padding: 1em 1em 0 1em;
  spacing: 0;
}

element-icon {
  vertical-align: 0.5;
  horizontal-align: 0.5;
  orientation: vertical;
  size: 1.5em;
}
