* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(42, 45, 61, 0.9);
}

button {
  text-shadow: none;
  border-radius: 0;
  border: 1px solid #697098;
  color: #bfc7d5;
  background-color: #2a2d3d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  color: #eeffff;
  text-shadow: none;
  background-color: #424762;
}

#lock {
  background-image: url("./icons/lock.png");
}

#logout {
  background-image: url("./icons/logout.png");
}

#suspend {
  background-image: url("./icons/suspend.png");
}

#hibernate {
  background-image: url("./icons/hibernate.png");
}

#shutdown {
  background-image: url("./icons/shutdown.png");
}

#reboot {
  background-image: url("./icons/reboot.png");
}
